@use './variables.scss' as stylesheet;
@use './mixins.scss' as *;

*,
*::before,
*::after {
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

body {
     margin: 0;
     font-family: stylesheet.$ff-main;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     font-size: 1rem;
     background-color: stylesheet.$white;
}

#app {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

p {
     font-size: 1rem;
     font-family: stylesheet.$ff-main;
}

img {
     max-width: 100%;
}

button {
     font-family:stylesheet.$ff-main;
     cursor: pointer;
}


textarea {
     outline: 1px solid stylesheet.$secondary-bg;
     border: 0;
     border-radius: 3px;
     font-family: stylesheet.$ff-main;
     resize: none;
     font-size: 0.9rem;
}
main {
      padding: 70px stylesheet.$padding-small stylesheet.$padding-small stylesheet.$padding-small ;
      margin:  0 auto;
      max-width: stylesheet.$containerWidth;
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 40px;

}

// Basic classes
.m-none{
      margin: 0
}
.center-text {
     text-align: center
}
// Loader
.loader__wraper {
     @include flexConfig(center, nowrap, center);
     max-width: 750px;
}

.container {
     max-width: stylesheet.$containerWidth;
     width: 100%;
     @include center(stylesheet.$padding-small);
}



// Header Styling
.header__wrapper {
     background-color: stylesheet.$brand-color;
     color: stylesheet.$white;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 10;


     .header__details {
          @include flexConfig(space-between, nowrap, center);
           .logo {
               display: block;
               border-radius: 30px;
               margin: 5px auto;
           }
        
     }

     .logo__heading {
          font-family: stylesheet.$ff-logo;
          font-size: stylesheet.$fs-logo;
          font-weight: 400;
          margin: 0;
     }
 
}


//  Footer Styling 
.footer__wrapper {
     margin-top: auto;
     text-align: center;
     background-color: stylesheet.$brand-color;
     color: stylesheet.$white;
}

.btn {
     display: inline-block;
     text-transform: uppercase;

     transition: opacity 150ms ease-out;

     background-color: stylesheet.$white;
     padding: 4px 10px;
     border-radius: 20px;

     &.btn__comment {
          background-color: stylesheet.$brand-color;
          color: stylesheet.$background-color;
          padding: 10px ;
       
        
     
     }

     &:hover {
          opacity: 0.7;
        
     }
     &.btn__reset {
           padding: 10px;

           background-color: stylesheet.$secondary-bg;
           
       
     }

     &.btn__sort {
          margin-top: 15px;
          margin-right: 5px;
          padding: 10px;
          background-color: stylesheet.$secondary-bg;

     }

   
}

.bg-pale {
      background-color: stylesheet.$background-color;
}
.rounded {
      border-radius: 30px;
}