@use './variables.scss' as stylesheet;

@mixin center($padding){
      margin-left: auto;
      margin-right: auto;
      padding: $padding;
}

@mixin flexConfig($justify-content,$wrap,$align-items,$drection:row) {
     display: flex;
     justify-content: $justify-content;
     flex-wrap: $wrap;
     flex-direction: $drection;
     align-items: $align-items;
}

@mixin verticalPadding($paddingTop, $paddingBotom) {

        padding-top: $paddingTop;
        padding-bottom: $paddingBotom;
}

@mixin verticalMargin ($marginTop, $marginBottom) {

        margin-top: $marginTop;
        margin-bottom: $marginBottom;
}

@mixin  for-mobile {
       @media screen and (max-width:stylesheet.$sm-screen) {
              @content;
       }
}