

// Colors

    // Blue
$brand-color: #ff3025;       // Red
$background-color:#fcf9ed;   // Light Gray
$secondary-bg: #dcddde;       // Medium Gray
$highlight: #ffDaba;          // Pale Yellow
$darkGray: #67727e;         // Dark Gray
$white: #fff;
$content:#000;
$downvote-clr: #1eb1f5;  

// Widths
$containerWidth:1280px;

// Spacing
$padding-normal:20px;
$padding-small:15px;

$margin-top-normal:20px;
$margin-bottom-normal:20px;

$margin-top-large:20px;
$margin-bottom-large:20px;

// font families
$ff-main:'Poppins',sans-serif;
$ff-logo:"Great Vibes", cursive;

// font size
$fs-logo:2rem;
// Break Points
$sm-screen:767.5px;
