

// Colors
$red :#ff3025; 
$lightGray :#f5f6fa; 
$paleYellow :#ffDaba;  
$darkGray :#67727e; 
$white :#fff;

// Widths
$containerWidth:1280px;

// Spacing
$padding-normal:20px;
$padding-small:15px;

$margin-top-normal:20px;
$margin-bottom-normal:20px;

$margin-top-large:20px;
$margin-bottom-large:20px;

// font families
$ff-main:'Open-sans',sans-serif;
$ff-logo:"Great Vibes", cursive;

// font size
$fs-logo:2rem;
// Break Points
$sm-screen:767.5px;
